.coin_search{
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    width: 300px;
}

.coin_input{
    background: #23282F;
    color: #e2e2e2;
    border: none;
    padding: 16px;
    border-radius: 5px;
    outline: none;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 0px 36px -7px rgba(0,0,0,0.48); 
    box-shadow: 0px 0px 36px -7px rgba(0,0,0,0.48);
}

